.im{
    background-color: darkturquoise;
    padding: 10px;
}

.atac{
    border: 5px solid green;
    padding: 5px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 5px;
}

.error{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: white;
}

.success{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: white;
}

.warning{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: white;
}